/* -------------------------------INICIO _BLOG.SCSS----------------------------------------------------------- */

.container-body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

.text-center h3 {
  font-size: 40px;
}

#galeria .col-lg-4 {
  p {
    padding-top: 30px;
    color: $colorRed1;
    font-size: 20px;
    text-transform: uppercase;
  }

  span {
    color: $colorWhite;
    font-size: 35px;
    text-transform: uppercase;
  }
}

#galeria img {
  width: 100%;
  height: auto;
}

.col-lg-4 img:hover {
  transform: scale(1.1);
  transition: all 0.8s;
  filter: grayscale(0);
}
