/* -------------------------------INICIO CONTACTO.SCSS------------------------------------------------------ */

/* --------------------SOCIAL---------------------------- */

.fa-brands {
  color: $colorRed1;
}

.fa-brands:hover {
  color: $colorWhite;
  transition: all 0.6s;
}

.container-social-contacto {
  text-align: center;
  font-size: 100px;

  i {
    font-size: 50px;
  }
}

.container-titulo-contacto {
  @include fuente($colorWhite, 30px, null, uppercase);

  display: grid;
  place-items: center;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

/* --------------------FORMULARIO------------------------- */

.titulo-formulario {
  @include fuente($colorWhite, 30px, bold, null);
  text-align: center;
  padding-top: 40px;
}

form {
  @include fuente($colorWhite, 0.8em, null, null);
  background-color: $colorBlack;
  padding: 10px;
  margin: 0 auto;
  width: 300px;
}

input,
textarea {
  border: 0;
  outline: none;
  width: 280px;
}

.field {
  border: solid 1px $colorRed1;
  padding: 10px;
}

.centrador {
  text-align: center;
}

/* --------------------INFO+MAPA------------------------- */

.container-info-mapa {
  display: grid;
  place-items: left;
  padding: 20px;
}

.titulo-info {
  @include fuente($colorRed1, 25px, bold, null);
  padding-top: 20px;
}

.container-info li {
  @include fuente($colorWhite, 20px, bold, null);
  list-style: none;
}

iframe {
  padding-top: 20px;
  width: 100%;
}
