/* -------------------------------FOOTER---------------------------------------------------------------------------- */

footer {
  @include fuente(rgb(197, 194, 194), 10px, 600, capitalize);  
  background-color: $colorBlack;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: $colorWhite;
}
.footer span {
  color: $colorRed1;
}
