/* --------------------INICIO _INDEX.SCSS------------------------------------------- */

/* --------------------BODY-HEADER------------------------------------------- */
.header {
  @include fuente(null, 16px, 700, uppercase);
}

/* --------------------HEADER-TEXTO-LOGO--------------------- */

.container-texto-logo{
  padding-right: 8%;
}

.texto {
  @include fuente($colorWhite, 15px, 700, uppercase);

}

.container-texto-logo h1 {
  @extend .texto;
  font-family: $fuente;
  color: $colorRed2;
  font-size: 30px;
  
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  float: left;
  height: 150px;
  width: 150px;
}

.container-imagen-logo {
  background-image: url(../multimedia/LogoPlateadoSinBordes.png);
  background-size: cover;
  width: 70%;
  height: 110%;
}

.container-imagen-logo:hover {
  background-image: url(../multimedia/LogoRojoSinBordes.png);
}

/* --------------------HEADER-NAV/MENU------------------------- */

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.custom-toggler.navbar-toggler {
  border-color: $colorWhite;
}

.nav-link {
  color: $colorWhite !important;
  letter-spacing: 3px;
}

.nav-link:hover {
  color: $colorRed1 !important;
  transition: all 0.6s;
}

.menu-separador {
  color: $colorRed1;
  padding: 0px 10px 0px 10px;
}
.menu-separador-inicio {
  @extend .menu-separador;
  color: $colorBlack;
}

/* --------------------FIN-HEADER------------------------------------------------- */

/* --------------------MAIN------------------------------------------------------- */

.main-descuento {
  filter: brightness(70%);
}

.w-100 {
  object-fit: cover;
  max-height: 800px !important;
}

.div-frase-main {

  @include fuente($colorWhite, 45px, 800, uppercase);
  background-color: $colorBlackTrans;
  position: absolute !important;
  bottom: 500px !important;

  span {
    color: $colorRed1;
    background-color: $colorBlackTrans;
  }

  h3 {
    @include fuente(null, 55px, 800, uppercase);    
    background-color: $colorBlackTrans;
    text-align: center;
  }

  p {
    background-color: $colorBlackTrans;
    text-transform: uppercase;
  }
}

/* ------------------INICIO CARDS (Planes)------------------------------ */



.bg-plan1 {
  background-color: map-get($planes, plan1)
}

.bg-plan2 {
  background-color: map-get($planes, plan2)
}

.bg-plan3 {
  background-color: map-get($planes, plan3)
}
