/* -------------------------------INICIO _NOSOTROS.SCSS---------------------------------------------------------------------------- */

.main__nosotros {
  background-color: $colorBlack;
  height: auto;
  width: 100%;
  text-transform: uppercase;
}

/* --------------------TITULO-SUB------------------------- */

.titulo-nosotros {
  @include fuente($colorWhite, 50px, null, null);
  display: grid;
  place-items: center;
  padding-top: 50px;
}

.sub-titulo-nosotros {
  @extend .titulo-nosotros;
  text-transform: none;
  font-size: 15px;
  padding-top: 30px;
}

/* --------------------ITEMS-NOSOTROS------------------------- */

.lista-nosotros {
  color: $colorWhite;
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;

  i {
    @include fuente($colorRed2, 50px, null, null);
    padding: 70px;
  }
}

.item1 {
  @include fuente(rgb(128, 126, 126), 10px, null, null);
  text-transform: none;
}
